.sent {
    background-color: blue;
    color: white;
}

.received {
    background-color: aliceblue;
}

.titleContainer {
    align-items: center;
    background-color: rebeccapurple;
}

.title {
    color: aliceblue;
}

.listItem {
    padding: 30px;
}

.toolbarCSS {
    padding-bottom: 5px;
}


/* Object Page Layout */
#__layout0-headerTitle {
    border-bottom: 1px solid rebeccapurple;
}

/* Object Page subsection BLOCK style - messages section */
#__section0-innerGrid {
    display: flex;
    flex-flow: column wrap;
}
